@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }
  @return $string;
}

@function str-bulk-replace($input-string, $substrings, $replace: '') {
  @each $substring in $substrings {
    $input-string: str-replace($input-string, $substring, $replace);
  }

  @return $input-string;
}

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin gradient-directional(
  $start-color: $pc-1,
  $end-color: $sc-3,
  $deg: 0deg
) {
  background-repeat: repeat-x; // Safari 5.1-6, Chrome 10+ // Opera 12
  background: linear-gradient(
    $deg,
    $start-color,
    $end-color
  ); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}

@keyframes rotateHalf {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(315deg);
  }
}

@keyframes doublecircleAni {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

/* Primary Color */

$pc-1: #e01719;

/* Secondary Color */

$sc-1: #002a47;

/* Tertiary Color */

$tc-1: #007395;

$tc-2: #218d49;

$tc-3: #ff9a16;

$tc-4: #db2323;

/* Neutral Color */

$nc-1: #000000;

$nc-2: #272a2d;

$nc-3: #46494d;

$nc-4: #5f5f5f;

$nc-5: #707070;

$nc-6: #cdcdcd;

$nc-7: #ffffff;

/* Extra Color */

$ex-1: #f9f9fe;

/* Tint Color */

$tint-pc-1-1: mix($pc-1, white, 60%);

$tint-pc-1-2: mix($pc-1, white, 25%);

$tint-pc-1-3: mix($pc-1, white, 10%);

$tint-pc-1-1-rgba: rgba($pc-1, 0.6);

$tint-pc-1-2-rgba: rgba($pc-1, 0.25);

$tint-pc-1-3-rgba: rgba($pc-1, 0.1);

$tint-sc-1-1: mix($sc-1, white, 60%);

$tint-sc-1-2: mix($sc-1, white, 25%);

$tint-sc-1-3: mix($sc-1, white, 10%);

$tint-sc-1-1-rgba: rgba($sc-1, 0.6);

$tint-sc-1-2-rgba: rgba($sc-1, 0.25);

$tint-sc-1-3-rgba: rgba($sc-1, 0.1);

$tint-tc-1-1: mix($tc-1, white, 60%);

$tint-tc-1-2: mix($tc-1, white, 25%);

$tint-tc-1-3: mix($tc-1, white, 10%);

$tint-tc-1-1-rgba: rgba($tc-1, 0.6);

$tint-tc-1-2-rgba: rgba($tc-1, 0.25);

$tint-tc-1-3-rgba: rgba($tc-1, 0.1);

$tint-tc-2-1: mix($tc-2, white, 60%);

$tint-tc-2-2: mix($tc-2, white, 25%);

$tint-tc-2-3: mix($tc-2, white, 10%);

$tint-tc-2-1-rgba: rgba($tc-2, 0.6);

$tint-tc-2-2-rgba: rgba($tc-2, 0.25);

$tint-tc-2-3-rgba: rgba($tc-2, 0.1);

$tint-tc-3-1: mix($tc-3, white, 60%);

$tint-tc-3-2: mix($tc-3, white, 25%);

$tint-tc-3-3: mix($tc-3, white, 10%);

$tint-tc-3-1-rgba: rgba($tc-3, 0.6);

$tint-tc-3-2-rgba: rgba($tc-3, 0.25);

$tint-tc-3-3-rgba: rgba($tc-3, 0.1);

$tint-tc-4-1: mix($tc-4, white, 60%);

$tint-tc-4-2: mix($tc-4, white, 25%);

$tint-tc-4-3: mix($tc-4, white, 10%);

$tint-tc-4-1-rgba: rgba($tc-4, 0.6);

$tint-tc-4-2-rgba: rgba($tc-4, 0.25);

$tint-tc-4-3-rgba: rgba($tc-4, 0.1);

/* Font Family  */

$ff-barlow: 'Barlow', sans-serif;

$ff-roboto: 'roboto', sans-serif;

$ff-icon: 'dq', sans-serif;

/* Font Weight  */

$fw-n:	    400;

$fw-b:	    500;

$fw-eb:     700;

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Medium.woff2') format('woff2'),
         url('../fonts/Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Bold.woff2') format('woff2'),
         url('../fonts/Barlow-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
         url('../fonts/Barlow-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
         url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* DD icons */

@font-face {
    font-family: 'dq';
    src: url('../icons/dq.eot?ybmtc4');
    src: url('../icons/dq.eot?ybmtc4#iefix') format('embedded-opentype'),
        url('../icons/dq.ttf?ybmtc4') format('truetype'),
        url('../icons/dq.woff?ybmtc4') format('woff'),
        url('../icons/dq.svg?ybmtc4#dq') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
    box-shadow: 0px 3px 10px 0px #0000001a;

    .left {
    display: flex;
  }

    .left {
    height: 60px;
  }

    .left {
    align-items: center;
  }

    .left {

        .middle-line {
      margin-left: 20px;
      margin-right: 20px;
    }

        .middle-line {
      display: inline-block;
    }

        .middle-line {
      height: 40px;
    }

        .middle-line {
      width: 1px;
    }

        .middle-line {
      background-color: var(--nc-6);
    }

        .navbar {
      display: flex;
    }

        .navbar {

            li {
        display: flex;
      }

            li {

                a {
          margin-right: 6px;
        }

                a {
          cursor: pointer;
        }

                a {
          align-items: center;
        }

                a {
          border-radius: 2px;
        }

                a {
          background-color: var(--nc-7);
        }

                a {
          padding-left: 16px;
          padding-right: 16px;
        }

                a {
          padding-top: 6px;
          padding-bottom: 6px;
        }

                a {
          font-family: var(--ff-barlow);
        }

                a {
          font-size: 0.75rem;
        }

                a {
          font-weight: var(--fw-b);
        }

                a {
          color: var(--nc-3);
        }

                    a.active,
                    a:hover,
                    a:focus {
          background-color: var(--tint-sc-1-3);
        }

                    a.active,
                    a:hover,
                    a:focus {
          color: var(--sc-1);
        }

                span {
          padding-right: 6px;
        }

                span {
          font-size: 0.87rem;
        }
            }
        }
    }

    .right {
    display: flex;
  }

    .right {

        .badge-number {
      position: absolute;
    }

        .badge-number {
      height: 14px;
    }

        .badge-number {
      width: 24px;
    }

        .badge-number {
      border-radius: 9999px;
    }

        .badge-number {
      background-color: var(--tc-4);
    }

        .badge-number {
      padding-left: 2px;
      padding-right: 2px;
    }

        .badge-number {
      font-size: 0.62rem;
    }

        .badge-number {
      color: var(--nc-7);
    }

        .badge-number {
            right: 0px;
            bottom: 22px;
        }

        .middle-line {
      margin-right: 12px;
    }

        .middle-line {
      display: inline-block;
    }

        .middle-line {
      height: 40px;
    }

        .middle-line {
      width: 1px;
    }

        .middle-line {
      background-color: var(--nc-6);
    }
    }

    .profile {
    padding: 0px;
  }
}

.elepsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-navigation{
    ul{
        li {
      border-bottom-width: 1px;
    }
        li {
      border-color: var(--nc-6);
    }
        li {
      padding-left: 14px;
      padding-right: 14px;
    }
        li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.12rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.87rem;
}

p {
  font-size: 0.87rem;
}

$color-list: (
  pc-1 var(--pc-1) var(--nc-1),
  sc-1 var(--sc-1) var(--nc-7),
  tc-1 var(--tc-1) var(--nc-7),
  tc-2 var(--tc-2) var(--nc-7),
  tc-3 var(--tc-3) var(--nc-7),
  tc-4 var(--tc-4) var(--nc-7),
  tint-1 var(--tint-pc-1) var(--nc-7),
  tint-2 var(--tint-pc-2) var(--nc-7),
  tint-3 var(--tint-pc-3) var(--nc-7),
  tint-pc-1-1 var(--tint-pc-1-1) var(--nc-7),
  tint-pc-1-2 var(--tint-pc-1-2) var(--nc-7),
  tint-pc-1-3 var(--tint-pc-1-3) var(--nc-7),
  tint-sc-1-1 var(--tint-sc-1-1) var(--nc-7),
  tint-sc-1-2 var(--tint-sc-1-2) var(--nc-7),
  tint-sc-1-3 var(--tint-sc-1-3) var(--nc-7),
  tint-tc-1-1 var(--tint-tc-1-1) var(--nc-7),
  tint-tc-1-2 var(--tint-tc-1-2) var(--nc-7),
  tint-tc-1-3 var(--tint-tc-1-3) var(--nc-7),
  tint-tc-2-1 var(--tint-tc-2-1) var(--nc-7),
  tint-tc-2-2 var(--tint-tc-2-2) var(--nc-7),
  tint-tc-2-3 var(--tint-tc-2-3) var(--nc-7),
  tint-tc-3-1 var(--tint-tc-3-1) var(--nc-7),
  tint-tc-3-2 var(--tint-tc-3-2) var(--nc-7),
  tint-tc-3-3 var(--tint-tc-3-3) var(--nc-7),
  nc-1 var(--nc-1) var(--nc-7),
  nc-2 var(--nc-2) var(--nc-7),
  nc-3 var(--nc-3) var(--nc-7),
  nc-4 var(--nc-4) var(--nc-7),
  nc-5 var(--nc-5) var(--nc-7),
  nc-6 var(--nc-6) var(--nc-7),
  nc-7 var(--nc-7) var(--nc-7),
  ex-1 var(--ex-1) var(--nc-7)
);

@mixin btn-contained($btn-color, $text-color) {
  background-color: $btn-color;
  color: $text-color;
  --box-shadow-color: #{'var(--tint-' +
    str-bulk-replace($btn-color, ('var(--', ')'), '') + '-2-rgba)'};
  box-shadow: 0 3px 3px 0 var(--box-shadow-color);
  &:hover {
    box-shadow: 0 6px 6px 0 var(--box-shadow-color);
  }
}

@mixin btn-outlined($btn-color, $text-color) {
  color: $btn-color;
  border: 1px solid $btn-color;
  --box-shadow-color: #{'var(--tint-' +
    str-bulk-replace($btn-color, ('var(--', ')'), '') + '-2-rgba)'};
  &:hover {
    color: $nc-7;
    background-color: $btn-color;
    box-shadow: 0 3px 3px 0 var(--box-shadow-color);
  }
  @each $value in $color-list {
    &.btn-border-#{nth($value, 1)} {
      border: 1px solid nth($value, 2)
    }
      &.btn-border-#{nth($value, 1)}:hover {
        border: 1px solid transparent;
      }
  }
}

/* Button Start */

.btn {
  font-weight: var(--fw-b);
  text-transform: none;
  min-width: 80px;

  @each $value in $color-list {
      &.btn-#{nth($value, 1)}.MuiButton-contained.MuiButton-root {
      border-radius: 2px;
    }
      &.btn-#{nth($value, 1)}.MuiButton-contained.MuiButton-root {
      font-family: var(--ff-barlow);
    }
      &.btn-#{nth($value, 1)}.MuiButton-contained.MuiButton-root {
      font-size: 0.87rem;
    }
      &.btn-#{nth($value, 1)}.MuiButton-contained.MuiButton-root {
      font-weight: var(--fw-b);
    }
      &.btn-#{nth($value, 1)}.MuiButton-contained.MuiButton-root {
      text-transform: capitalize;
    }
      &.btn-#{nth($value, 1)}.MuiButton-contained.MuiButton-root {
      color: var(--nc-7);
    }
      &.btn-#{nth($value, 1)}.MuiButton-contained.MuiButton-root {
        padding: 6px 20px;
      }
      &.btn-#{nth($value, 1)}.MuiButton-contained.MuiButton-sizeSmall {
      font-size: 0.75rem;
    }
      &.btn-#{nth($value, 1)}.MuiButton-contained.MuiButton-sizeSmall {
        padding: 5px 20px 6px;
      }
      &.btn-#{nth($value, 1)}.MuiButton-contained.MuiButton-sizeLarge {
      font-size: 0.87rem;
    }
      &.btn-#{nth($value, 1)}.MuiButton-contained.MuiButton-sizeLarge {
        padding: 7px 20px 8px;
      }
    &.btn-#{nth($value, 1)}.MuiButton-contained {
      @include btn-contained(nth($value, 2), nth($value, 3));
    }
    &.btn-#{nth($value, 1)}.MuiButton-outlined {
      @include btn-outlined(nth($value, 2), nth($value, 3))
    }
      &.btn-#{nth($value, 1)}.MuiButton-outlined.MuiButton-root {
      border-radius: 2px;
    }
      &.btn-#{nth($value, 1)}.MuiButton-outlined.MuiButton-root {
      border-width: 2px;
    }
      &.btn-#{nth($value, 1)}.MuiButton-outlined.MuiButton-root {
      font-family: var(--ff-barlow);
    }
      &.btn-#{nth($value, 1)}.MuiButton-outlined.MuiButton-root {
      font-size: 0.87rem;
    }
      &.btn-#{nth($value, 1)}.MuiButton-outlined.MuiButton-root {
      font-weight: var(--fw-eb);
    }
      &.btn-#{nth($value, 1)}.MuiButton-outlined.MuiButton-root {
      text-transform: capitalize;
    }
      &.btn-#{nth($value, 1)}.MuiButton-outlined.MuiButton-root {
      --tw-shadow: 0 0 #0000;
      --tw-shadow-colored: 0 0 #0000;
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
      &.btn-#{nth($value, 1)}.MuiButton-outlined.MuiButton-root {
        padding: 4px 19px;
      }
      &.btn-#{nth($value, 1)}.MuiButton-outlined.MuiButton-sizeSmall {
      font-size: 0.75rem;
    }
      &.btn-#{nth($value, 1)}.MuiButton-outlined.MuiButton-sizeSmall {
        padding: 3px 19px 4px;
      }
      &.btn-#{nth($value, 1)}.MuiButton-outlined.MuiButton-sizeLarge {
      font-size: 0.87rem;
    }
      &.btn-#{nth($value, 1)}.MuiButton-outlined.MuiButton-sizeLarge {
        padding: 5px 19px 6px;
      }
    &.btn-#{nth($value, 1)}.MuiButton-outlined {

      @each $value in $color-list {
        &.btn-text-#{nth($value, 1)} {
          color: nth($value, 2)
        }
          &.btn-text-#{nth($value, 1)}:hover {
          color: var(--nc-7);
        }
      }
    }
  }
}

.btn.btn-sc.MuiButton-root {
  font-size: 0.75rem;
}

.btn.btn-sc.MuiButton-root {
  text-transform: capitalize;
}

.btn.btn-sc.MuiButton-root {
      padding: 6px 18px;
    }

.btn.btn-sc.MuiButton-sizeSmall {
  font-size: 0.75rem;
}

.btn.btn-sc.MuiButton-sizeSmall {
      padding: 5px 18px;
    }

.btn.btn-sc.MuiButton-sizeLarge {
  font-size: 1rem;
}

.btn.btn-sc.MuiButton-sizeLarge {
      padding: 6px 17px;
    }

.btn.btn-sc.sc-1 {
  border-radius: 2px;
}

.btn.btn-sc.sc-1 {
  background-color: var(--sc-1);
}

.btn.btn-sc.sc-1 {
  font-weight: var(--fw-b);
}

.btn.btn-sc.sc-1 {
  color: var(--nc-7);
}

.btn.btn-sc.sc-1 {
      box-shadow: 0 6px 6px 0 rgb($tint-sc-1-3, 1)
    }

.btn.btn-sc.sc-1:hover {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn.btn-sc.sc-2 {
  border-radius: 2px;
}

.btn.btn-sc.sc-2 {
  background-color: var(--nc-6);
}

.btn.btn-sc.sc-2 {
  font-family: var(--ff-barlow);
}

.btn.btn-sc.sc-2 {
  font-size: 0.87rem;
}

.btn.btn-sc.sc-2 {
  font-weight: var(--fw-b);
}

.btn.btn-sc.sc-2 {
  color: var(--nc-3);
}

.btn.btn-sc.sc-2 {
      box-shadow: 0 3px 3px 0 rgb($sc-1, 0.1)
    }

.btn.btn-sc.sc-2:hover {
  background-color: var(--nc-5);
}

.btn.btn-sc.sc-2:hover {
  color: var(--nc-1);
}

.btn.btn-sc.sc-2:hover {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn.btn-tc.MuiButton-root {
  font-size: 0.75rem;
}

.btn.btn-tc.MuiButton-root {
  text-transform: capitalize;
}

.btn.btn-tc.MuiButton-root {
      padding: 6px 18px;
    }

.btn.btn-tc.MuiButton-sizeSmall {
  font-size: 0.75rem;
}

.btn.btn-tc.MuiButton-sizeSmall {
      padding: 5px 18px;
    }

.btn.btn-tc.MuiButton-sizeLarge {
  font-size: 1rem;
}

.btn.btn-tc.MuiButton-sizeLarge {
      padding: 6px 17px;
    }

.btn.btn-tc.tc-1 {
  border-radius: 2px;
}

.btn.btn-tc.tc-1 {
  background-color: var(--tc-4);
}

.btn.btn-tc.tc-1 {
  color: var(--nc-7);
}

.btn.btn-tc.tc-1 {
      box-shadow: 0 6px 6px 0 rgb($tint-tc-4-3, 1)
    }

.btn.btn-tc.tc-1:hover {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn.icon-btn.MuiButton-contained.MuiButton-root {
        padding: 4px 16px;
      }

.btn.icon-btn.MuiButton-contained.MuiButton-sizeSmall {
        padding: 3px 12px 4px;
      }

.btn.icon-btn.MuiButton-contained.MuiButton-sizeLarge {
        padding: 4px 16px;
      }

.btn.icon-btn.MuiButton-outlined.MuiButton-root {
        padding: 3px 15px;
      }

.btn.icon-btn.MuiButton-outlined.MuiButton-sizeSmall {
        padding: 2px 11px 3px;
      }

.btn.icon-btn.MuiButton-outlined.MuiButton-sizeLarge {
        padding: 3px 15px;
      }

.btn.icon-btn {
    .MuiButton-iconSizeSmall > *:first-child {
    font-size: 0.87rem;
  }
    .MuiButton-iconSizeMedium > *:first-child {
    font-size: 1rem;
  }
    .MuiButton-iconSizeLarge > *:first-child {
    font-size: 1.12rem;
  }
    .MuiButton-endIcon {
      margin-left: 12px;
    }
    .MuiButton-endIcon.MuiButton-iconSizeMedium {
      margin-left: 31px;
    }
    .MuiButton-endIcon.MuiButton-iconSizeLarge {
      margin-left: 31px;
    }
  }

.btn.Mui-disabled {
  opacity: 0.4;
}

.btn.w-145 {
    width: 145px;
  }

.btn.w-90 {
    width: 90px;
  }

.btn-link {
  font-size: 0.75rem;
}

.btn-link.btn-link-nc-3 {
  color: var(--nc-3);
}

.btn-link.btn-link-nc-3:hover {
  color: var(--nc-1);
}

.btn-link.btn-link-nc-2 {
  font-family: var(--ff-barlow);
}

.btn-link.btn-link-nc-2 {
  font-weight: var(--fw-eb);
}

.btn-link.btn-link-nc-2 {
  color: var(--nc-2);
}

.btn-link.btn-link-nc-2:hover {
  color: var(--nc-1);
}

.btn-link.btn-link-nc-1 {
  color: var(--nc-1);
}

.btn-link.btn-link-nc-1:hover {
  color: var(--tc-1);
}

.btn-link.btn-link-nc-1:focus {
  color: var(--tc-1);
}

.btn-link.btn-link-tc-1 {
  color: var(--tc-1);
}

.btn-link.btn-link-tc-1:hover {
  color: var(--nc-1);
}

.btn-link.btn-link-sc-1 {
  color: var(--sc-1);
}

.btn-link.btn-link-sc-1:hover {
  color: var(--nc-1);
}

.btn-link.--text-14 {
  font-size: 0.87rem;
}

.btn-link:disabled {
  pointer-events: none;
}

.btn-link:disabled {
  opacity: 0.4;
}

.btn-link.pdf-link-btn {
  border-radius: 4px;
}

.btn-link.pdf-link-btn {
  border-width: 1px;
}

.btn-link.pdf-link-btn {
  border-color: transparent;
}

.btn-link.pdf-link-btn {
  background-color: var(--sc-1);
}

.btn-link.pdf-link-btn {
  padding-left: 8px;
  padding-right: 8px;
}

.btn-link.pdf-link-btn {
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-link.pdf-link-btn {
  font-size: 0.87rem;
}

.btn-link.pdf-link-btn {
  color: var(--nc-7);
}

.btn-link.pdf-link-btn:hover {
  border-color: var(--sc-1);
}

.btn-link.pdf-link-btn:hover {
  background-color: var(--nc-7);
}

.btn-link.pdf-link-btn:hover {
  color: var(--sc-1);
}

.btn-icon,
.btn-icon.icon {
  height: 36px;
  width: 36px
}

.btn-icon:hover,
  .btn-icon:focus,
  .btn-icon.icon:hover,
  .btn-icon.icon:focus {
  background-color: var(--tint-sc-1-3);
}

.btn-icon:hover,
  .btn-icon:focus,
  .btn-icon.icon:hover,
  .btn-icon.icon:focus {
  color: var(--sc-1);
}

.btn-icon,
.btn-icon.icon {
  font-size: 0.75rem
}

.btn-icon.square, .btn-icon.icon.square {
    border-radius: 2px;
  }

.btn-icon.xxsm, .btn-icon.icon.xxsm {
    height: 24px;
    width: 24px;
  }

.btn-icon.xxsm, .btn-icon.icon.xxsm {
  font-size: 0.75rem;
}

.btn-icon.xsm, .btn-icon.icon.xsm {
    height: 28px;
    width: 28px;
  }

.btn-icon.xsm, .btn-icon.icon.xsm {
  font-size: 1rem;
}

.btn-icon.sm, .btn-icon.icon.sm {
    height: 32px;
    width: 32px
  }

.btn-icon.sm, .btn-icon.icon.sm {
  font-size: 1rem;
}

.btn-icon.sm[aria-expanded='true'], .btn-icon.icon.sm[aria-expanded='true'] {
  color: var(--sc-1);
}

.btn-icon.md, .btn-icon.icon.md {
    height: 36px;
    width: 36px;
  }

.btn-icon.md, .btn-icon.icon.md {
  font-size: 1.12rem;
}

.btn-icon.lg, .btn-icon.icon.lg {
    height: 40px;
    width: 40px;
  }

.btn-icon.lg, .btn-icon.icon.lg {
  font-size: 1.12rem;
}

.btn-icon.xlg, .btn-icon.icon.xlg {
    height: 54px;
    width: 54px;
  }

.btn-icon.xlg, .btn-icon.icon.xlg {
  font-size: 1.12rem;
}

.btn-icon.btn-pc-1, .btn-icon.icon.btn-pc-1 {
    box-shadow: 0 3px 3px 0 var(--tint-pc-1-2-rgba)
  }

.btn-icon.btn-pc-1, .btn-icon.icon.btn-pc-1 {
  color: var(--nc-7);
}

.btn-icon.btn-pc-1, .btn-icon.icon.btn-pc-1 {
  background-color: var(--pc-1);
}

.btn-icon.btn-pc-1:hover, .btn-icon.icon.btn-pc-1:hover {
      box-shadow: 0 6px 6px 0 var(--tint-pc-1-2-rgba);
    }

.btn-icon.btn-pc-1:hover, .btn-icon.icon.btn-pc-1:hover {
  background-color: var(--pc-1);
}

.btn-icon.btn-tc-4, .btn-icon.icon.btn-tc-4 {
    box-shadow: 0 3px 3px 0 var(--tint-tc-4-2-rgba)
  }

.btn-icon.btn-tc-4, .btn-icon.icon.btn-tc-4 {
  color: var(--nc-7);
}

.btn-icon.btn-tc-4, .btn-icon.icon.btn-tc-4 {
  background-color: var(--tc-4);
}

.btn-icon.btn-tc-4:hover, .btn-icon.icon.btn-tc-4:hover {
      box-shadow: 0 6px 6px 0 var(--tint-tc-4-2-rgba);
    }

.btn-icon.btn-tc-4:hover, .btn-icon.icon.btn-tc-4:hover {
  background-color: var(--tc-4);
}

.btn-icon.btn-pc-1-border, .btn-icon.icon.btn-pc-1-border {
    box-shadow: 0 -5px 6px 0 rgba($nc-1, 0.05)
  }

.btn-icon.btn-pc-1-border, .btn-icon.icon.btn-pc-1-border {
  background-color: var(--nc-7);
}

.btn-icon.btn-pc-1-border, .btn-icon.icon.btn-pc-1-border {
  color: var(--nc-3);
}

.btn-icon.btn-pc-1-border:hover, .btn-icon.icon.btn-pc-1-border:hover {
  background-color: var(--nc-7);
}

.btn-icon.btn-pc-1-border-2, .btn-icon.icon.btn-pc-1-border-2 {
  border-width: 1px;
}

.btn-icon.btn-pc-1-border-2, .btn-icon.icon.btn-pc-1-border-2 {
  border-style: solid;
}

.btn-icon.btn-pc-1-border-2, .btn-icon.icon.btn-pc-1-border-2 {
  border-color: var(--pc-1);
}

.btn-icon.btn-pc-1-border-2, .btn-icon.icon.btn-pc-1-border-2 {
  background-color: var(--nc-7);
}

.btn-icon.btn-pc-1-border-2, .btn-icon.icon.btn-pc-1-border-2 {
  color: var(--nc-1);
}

.btn-icon.btn-pc-1-border-2:hover, .btn-icon.icon.btn-pc-1-border-2:hover {
      box-shadow: 0 3px 6px 0 var(--tint-pc-1-2-rgba);
    }

.btn-icon.btn-pc-1-border-2:hover, .btn-icon.icon.btn-pc-1-border-2:hover {
  background-color: var(--pc-1);
}

.btn-icon.btn-nc-6, .btn-icon.icon.btn-nc-6 {
    box-shadow: 0 3px 6px 0 rgba($nc-6, 0.2)
  }

.btn-icon.btn-nc-6, .btn-icon.icon.btn-nc-6 {
  color: var(--tc-1);
}

.btn-icon.btn-nc-6, .btn-icon.icon.btn-nc-6 {
  background-color: var(--nc-6);
}

.btn-icon.btn-nc-6:hover, .btn-icon.icon.btn-nc-6:hover {
      box-shadow: 0 10px 20px 0 rgba($nc-6, 0.2);
    }

.btn-icon.btn-nc-6:hover, .btn-icon.icon.btn-nc-6:hover {
  background-color: var(--nc-6);
}

.btn-icon.Mui-disabled, .btn-icon.icon.Mui-disabled {
  opacity: 0.4;
}

.btn + .btn,
.btn-icon + .btn-icon,
.btn-link + .btn-link {
  margin-left: 12px;
}

/* Button End */

.dd-loader-backdrop {
  color: var(--pc-1);
  opacity: 1;
  z-index: 9999 !important;
  background-color: rgba($nc-1, 0.3);

  .dd-loader {
    background: transparent
  }

    .dd-loader:before,
    .dd-loader:after {
      border: 3px solid;
      border-radius: 50%;
      content: '';
      display: inline-block;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 50%;
      margin-top: -40px;
      left: 50%;
      margin-left: -40px;
      z-index: 1;
    }
    .dd-loader:before {
    border-color: var(--pc-1);
  }
    .dd-loader:before {
      border-right-color: transparent;
      border-left-color: transparent;
      animation: doublecircleAni 0.5s linear infinite;
    }
    .dd-loader:after {
    border-color: var(--tint-pc-1-1);
  }
    .dd-loader:after {
      border-top-color: transparent;
      border-bottom-color: transparent;
      animation: doublecircleAni 1.2s linear infinite;
    }

  .dd-loader {
    .dd-loader-img {
      overflow: hidden;
    }
    .dd-loader-img {
      border-radius: 9999px;
    }
    .dd-loader-img {
      position: absolute;
      background-color: $nc-7;
      border-radius: 50%;
      width: 64px;
      height: 64px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .icon {
        width: 64px;
        height: 64px;
        text-align: center;
        line-height: 64px;
      }
      .icon {
        font-size: 2rem;
      }
      .icon {
        color: var(--nc-3);
      }
    }
  }
}

.drawer {
  .MuiDrawer-paper {
    position: absolute;
  }

  .drawer__header {
    display: flex;
  }

  .drawer__header {
    align-items: center;
  }

  .drawer__header {
    justify-content: space-between;
  }

  .drawer__header {
    border-bottom-width: 1px;
  }

  .drawer__header {
    border-color: var(--nc-6);
  }

  .drawer__header {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .drawer__header {
    padding-left: 14px;
  }

  .drawer__header {
    padding-left: 20px;
  }

  .drawer__header {
    padding-right: 20px;
  }

  .drawer__header {

    .drawer__header__title {
      margin-right: 8px;
    }

    .drawer__header__title {
      font-family: var(--ff-barlow);
    }

    .drawer__header__title {
      font-size: 1rem;
    }

    .drawer__header__title {
      font-weight: var(--fw-eb);
    }

    .drawer__header__title {
      color: var(--pc-1);
    }
  }

  .drawer__body {
    margin-top: 12px;
  }

  .drawer__body {
    margin-left: 20px;
  }

  .drawer__body {
    margin-right: 20px;
  }

  .drawer__body {
    display: flex;
  }

  .drawer__body {
    flex: 1 1 0%;
  }

  .drawer__body {
    overflow-y: auto;
  }

  .MuiDrawer-paper {
    height: 100%;
  }

  .MuiDrawer-paper {
    width: 100%;
  }
}

@media (min-width: 640px) {

.drawer {

  .MuiDrawer-paper {
      width: 280px
  }
}
    }

.drawer {

  .MuiDrawer-paperAnchorRight {
    display: flex;
  }

  .MuiDrawer-paperAnchorRight {
    border-width: 0px;
  }
}

.drawer__header {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  border-color: var(--nc-6);
  padding-bottom: 8px;

  .drawer__header__title {
    margin-right: 8px;
  }

  .drawer__header__title {
    font-size: 1rem;
  }

  .drawer__header__title {
    font-weight: var(--fw-eb);
  }

  .drawer__header__title {
    color: var(--nc-2);
  }

  .drawer__header__title {

    span {
      display: inline-block;
      vertical-align: middle;
    }

    .title {
      font-family: var(--ff-barlow);
    }
  }
}

.notification{
    .repeate-loop {
    display: flex;
  }
    .repeate-loop {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
    .repeate-loop {
    border-bottom-width: 1px;
  }
    .repeate-loop {
    border-color: var(--nc-6);
  }
    .repeate-loop {
    padding-top: 10px;
    padding-bottom: 10px;
  }
        .repeate-loop:first-child {
    padding-top: 0px;
  }
    .repeate-loop{
        .image{
            margin-right: 8px;
            width: 60px;
            img {
        width: 32px;
      }
        }
        .notification-body{
            p {
        font-family: var(--ff-roboto);
      }
            p {
        font-size: 0.75rem;
      }
            p {
        color: var(--nc-1);
      }
            p{
                b {
          font-weight: var(--fw-eb);
        }
            }
            span {
        font-family: var(--ff-roboto);
      }
            span {
        font-weight: var(--fw-n);
      }
        }
    }
}

$icons: (
  'add': '\e900',
  'add_rules': '\e901',
  'back_arrow': '\e902',
  'change_password': '\e903',
  'close': '\e904',
  'dashboard': '\e905',
  'down_cheveron': '\e906',
  'duplicate': '\e907',
  'expectations': '\e908',
  'help': '\e909',
  'info': '\e90a',
  'logout': '\e90b',
  'mandatory_off': '\e90c',
  'mandatory_on': '\e90d',
  'menu_dots': '\e90e',
  'notification': '\e90f',
  'password': '\e910',
  'projects': '\e911',
  'search': '\e912',
  'suites': '\e913',
  'text_delete': '\e914',
  'up_cheveron': '\e915',
  'username': '\e916',
  'shettings': '\e917',
  'dataset': '\e918',
  'assistant': '\e919',
);

@each $name, $glyph in $icons {
  .dq-icon-#{$name}:before {
    display: inline-block;
    font-family: 'dq' !important;
    content: $glyph;

    /* use !important to prevent issues with browser extensions that change fonts */
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Label Field */

.MuiInputLabel-root {
  font-family: var(--ff-roboto);
  font-size: 1rem;
  color: var(--nc-3);
}

.MuiInputLabel-root.Mui-focused {
  color: var(--tc-1);
}

.MuiInputLabel-root.MuiInputLabel-shrink {
  font-size: 0.87rem;
}

.MuiInputLabel-root.Mui-error {
  color: var(--tc-4);
}

.input-field {
  margin-top: 4px;
  width: 100%;
  .MuiOutlinedInput-adornedEnd {
    padding-right: 0px;
  }
  .MuiFormHelperText-contained {
    margin: 0px;
  }
  /* Label */
  .MuiInputLabel-root {
    transform: translate(14px, 21px)
  }

    .MuiInputLabel-root.MuiInputLabel-shrink {
      transform: translate(14px, -6px);
    }

  /* Input */
  .MuiInputBase-input {
    font-family: var(--ff-roboto);
  }
  .MuiInputBase-input {
    font-size: 1rem;
  }
  .MuiInputBase-input {
    color: var(--nc-1);
  }
  .MuiInputBase-input {
    padding: 19px 14px 18px;
  }

  /* Fieldset */
  .MuiOutlinedInput-root {
    border-radius: 2px;
  }
  .MuiOutlinedInput-root {
    .MuiOutlinedInput-notchedOutline {
      border-width: 1px;
    }
    .MuiOutlinedInput-notchedOutline {
      border-style: solid;
    }
    .MuiOutlinedInput-notchedOutline {
      border-color: var(--nc-5);
    }
    .MuiOutlinedInput-notchedOutline {

      legend {
        font-size: 0.87rem;
      }

      legend {
        height: 14px;
      }
    }
  }

    .MuiOutlinedInput-root:hover:not(.Mui-disabled) .MuiOutlinedInput-notchedOutline {
    border-color: var(--sc-1);
  }

    .MuiOutlinedInput-root.Mui-focused,
    .MuiOutlinedInput-root.Mui-focused:hover:not(.Mui-disabled) {
      .MuiOutlinedInput-notchedOutline {
      border-width: 2px;
    }
      .MuiOutlinedInput-notchedOutline {
      border-color: var(--tc-1);
    }
    }
    .MuiOutlinedInput-root.Mui-error {
      .MuiOutlinedInput-notchedOutline {
      border-color: var(--tc-4);
    }
    }
      .MuiOutlinedInput-root.Mui-error:hover:not(.Mui-disabled) .MuiOutlinedInput-notchedOutline {
    border-color: var(--tc-4);
  }
      .MuiOutlinedInput-root.Mui-error.Mui-focused,
      .MuiOutlinedInput-root.Mui-error.Mui-focused:hover:not(.Mui-disabled) {
        .MuiOutlinedInput-notchedOutline {
      border-color: var(--tc-4);
    }
      }

  /* Small */
}

.input-field.sm {
    /* Label */
    .MuiInputLabel-root {
    font-size: 0.87rem;
  }
    .MuiInputLabel-root {
      transform: translate(14px, 13px)
    }

      .MuiInputLabel-root.MuiInputLabel-shrink {
        transform: translate(14px, -6px);
      }

      .MuiInputLabel-root.MuiInputLabel-shrink {
    font-size: 0.75rem;
  }

    /* Input */
    .MuiInputBase-input {
    font-size: 0.87rem;
  }
    .MuiInputBase-input {
      padding: 12px 14px
    }
  }

@media (max-width: 767px) {

.input-field.sm {
    .MuiInputBase-input {
        font-size: 16px
    }
  }
      }

.input-field.sm {

    /* Fieldset */
    .MuiOutlinedInput-root {
      .MuiOutlinedInput-notchedOutline {
        legend {
        font-size: 0.75rem;
      }
        legend {
          height: 12px;
        }
      }
    }
  }

.input-field.input-no-border {
    .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-style: none;
  }
  }

.input-field.input-border-top-bottom {
    .MuiOutlinedInput-root {
    border-radius: 0;
  }
      .MuiOutlinedInput-root.Mui-focused,
      .MuiOutlinedInput-root.Mui-focused:hover:not(.Mui-disabled) {
        .MuiOutlinedInput-notchedOutline {
      border-width: 0px;
    }
        .MuiOutlinedInput-notchedOutline {
      border-top-width: 2px;
    }
        .MuiOutlinedInput-notchedOutline {
      border-bottom-width: 2px;
    }
        .MuiOutlinedInput-notchedOutline {
      border-color: var(--tc-1);
    }
      }
    .MuiOutlinedInput-root {
      .MuiOutlinedInput-notchedOutline {
      border-width: 0px;
    }
      .MuiOutlinedInput-notchedOutline {
      border-top-width: 1px;
    }
      .MuiOutlinedInput-notchedOutline {
      border-bottom-width: 1px;
    }
      .MuiOutlinedInput-notchedOutline {
      border-color: var(--nc-5);
    }
    }
  }

.input-field.start-icon {
    .MuiInputBase-input,
    .MuiOutlinedInput-adornedStart {
    padding-left: 0px;
  }
    .MuiInputAdornment-positionStart {
    font-size: 1rem;
  }
    .MuiInputAdornment-positionStart {
    color: var(--nc-5);
  }
  }

.input-field.multiline {
    .MuiFormHelperText-root {
      color: #f44336;
    }
  }

.badge.badge-profile {
  background-color: var(--nc-6);
}

.badge.badge-profile {
  font-family: var(--ff-barlow);
}

.badge.badge-profile {
  font-size: 0.75rem;
}

.badge.badge-profile {
  font-weight: var(--fw-eb);
}

.badge.badge-profile {
  text-transform: uppercase;
}

.badge.badge-profile {
  color: var(--nc-2);
}

.dt {
  .inner-top-section {
    .dt_website {
      font-size: 1rem;
    }
    .dt_website {
      color: blue;
    }
  }
  .restaurant-img {
    margin-top: 18px;
  }
  .restaurant-img {
    width: 100%;
  }
  .dd_ans {
    margin-top: 18px;
  }
  .dd_ans {
    font-size: 1rem;
  }
  .search-container {
    margin-bottom: 16px;
  }
  .search-container {
    padding-bottom: 20px;
  }
  .search-container {
    border-bottom: 1px solid gray;
  }
  .input-field {
    box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 10%);
  }
  .dt_inner {
    // display: flex;
    height: 100%;
    .dd_inner_left {
      // width: 30%;
      background-color: #f1f1f1;
      box-shadow: 0px 2px 5px 0px #0000001a;
    }
    .dd_inner_left {
      padding: 20px;
    }
    .dd_inner_right {
      padding: 20px;
    }
    .dd_inner_right {
      // width: 70%;

      .ref-text {
        margin-bottom: 24px;
      }

      .ref-text {
        .title {
          font-size: 1rem;
        }
        .title {
          font-weight: var(--fw-eb);
        }
      }

      .card {
        border-radius: 4px;
        box-shadow: 0px 3px 10px 0px #0000001a;
      }

      .card {
        margin-bottom: 14px;
      }

      .card {
        border-width: 1px;
      }

      .card {
        border-style: solid;
      }

      .card {
        border-color: var(--nc-6);
      }

      .card {
        padding: 10px;
      }

      .card {
        font-size: 1rem;
      }

      .eye-icon {
        float: right
      }

      .test-content {
        word-wrap: break-word
      }
    }
    .dt_tabpanel {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.bi-page {
  background-position: center top;
  background-repeat: repeat-x;
  overflow: hidden;
  position: relative;
  width: 100%;
  .bi-content {
    min-width: 1200px;
    min-height: 623px;
    background-position: center top;
    background-repeat: no-repeat;
  }
}

.BiHeader {
  min-width: 1200px;
  background-color: #fff;
}

.alert-container {
  position: absolute;
  border-radius: 4px;
  margin-bottom: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--nc-6);
  background-color: var(--nc-7);
  padding: 10px;
  font-size: 1rem;
  top: 10px;
  right: -300px;
  box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  -webkit-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  -moz-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  min-width: 300px;
  -webkit-animation: slide 0.3s forwards;
  -webkit-animation-delay: 0s;
  animation: slide 0.3s forwards;
  animation-delay: 0s;
  .alert-inner {
    z-index: 1;
  }
  .alert-inner {
    padding-bottom: 12px;
  }
  .alert-inner {
    font-size: 0.87rem;
  }
}

@keyframes slide {
  100% {
    right: 20px;
  }
}

.login-page {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  place-content: center;
  place-items: center;
  gap: 4px;
}

.MuiTable-root {
  .MuiTableHead-root {
    background-color: var(--nc-6);
  }
  .MuiTableHead-root {
    .MuiTableCell-root {
      font-family: var(--ff-roboto);
    }
    .MuiTableCell-root {
      font-weight: bold;
    }
  }
}

/* Black Info Icon Tooltip - Start */

.info_icon_tooltip.MuiTooltip-tooltip {
  background-color: var(--nc-2);
}

.info_icon_tooltip.MuiTooltip-tooltip {
  font-size: 0.75rem;
}

.info_icon_tooltip.MuiTooltip-tooltip {
  color: var(--nc-7);
}

.info_icon_tooltip.MuiTooltip-tooltip {
    .MuiTooltip-arrow {
    color: var(--nc-2);
  }
  }

/* Black Info Icon Tooltip - End */

.popover {
  .MuiPopover-paper {
    border-top-left-radius: 0;
  }
  .MuiPopover-paper {
    border-top-right-radius: 0;
  }
  .MuiPopover-paper {
    border-top-width: 1px;
  }
  .MuiPopover-paper {
    border-color: var(--nc-6);
  }
  .MuiPopover-paper {
    background-color: var(--nc-7);
  }
  .MuiPopover-paper {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.16);
  }
}

.tooltip.MuiTooltip-popper {
  margin-top: 8px;
  margin-bottom: 8px;
}

.tooltip.MuiTooltip-popper {
  margin-left: 4px;
  margin-right: 4px;
}

.tooltip {
  .MuiTooltip-tooltip {
    margin: 0px;
  }
  .MuiTooltip-tooltip {
    max-width: 100%;
  }
  .MuiTooltip-tooltip {
    border-top-left-radius: 0;
  }
  .MuiTooltip-tooltip {
    border-top-right-radius: 0;
  }
  .MuiTooltip-tooltip {
    border-top-width: 1px;
  }
  .MuiTooltip-tooltip {
    border-color: var(--nc-6);
  }
  .MuiTooltip-tooltip {
    background-color: var(--nc-7);
  }
  .MuiTooltip-tooltip {
    padding: 0px;
  }
  .MuiTooltip-tooltip {
    color: var(--nc-3);
  }
  .MuiTooltip-tooltip {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  }
  .MuiTooltip-arrow {
    font-size: 0.75rem;
  }
  .MuiTooltip-arrow {
    color: var(--nc-5);
  }
}

.tooltip.w-310 {
    .MuiTooltip-tooltip {
      width: 310px;
    }
  }

.tooltip {
  .tooltip-head {
    display: flex;
  }
  .tooltip-head {
    justify-content: flex-end;
  }
  .tooltip-head {
    padding: 8px;
  }
  .tooltip-body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .tooltip-body {
    padding-bottom: 20px;
  }
}

.MuiBackdrop-root {
  background-color: rgba($nc-1, 0.2);
}

.dialog {
  form {
    display: contents;
  }
  .MuiDialog-paper {
    box-shadow: 0px 12px 20px #0000001a;
  }
  .MuiDialog-paper {
    margin: 0px;
  }
  .MuiDialog-paper {
    max-height: 100%;
  }
  .MuiDialog-paper {
    max-width: 100%;
  }
  .MuiDialog-paper {
    border-radius: 4px;
  }
}

.dialog.xs {
    .MuiDialog-paper {
    height: 100%;
  }
    .MuiDialog-paper {
    width: 100%;
  }
  }

@media (min-width: 768px) {

.dialog.xs {
    .MuiDialog-paper {
        width: 400px;
        height: 450px
    }
  }
      }

.dialog.sm {
    .MuiDialog-paper {
    height: 100%;
  }
    .MuiDialog-paper {
    width: 100%;
  }
  }

@media (min-width: 768px) {

.dialog.sm {
    .MuiDialog-paper {
        width: 400px;
        height: 250px
    }
  }
      }

.dialog.sm.h-600 {
      .MuiDialog-paper {
    height: 100%;
  }
      .MuiDialog-paper {
    width: 100%;
  }
    }

@media (min-width: 768px) {

.dialog.sm.h-600 {
      .MuiDialog-paper {
          width: 600px;
          height: 600px
      }
    }
        }

.dialog.md {
    .MuiDialog-paper {
    height: 100%;
  }
    .MuiDialog-paper {
    width: 100%;
  }
  }

@media (min-width: 768px) {

.dialog.md {
    .MuiDialog-paper {
        width: 800px;
        height: 550px
    }
  }
      }

.dialog.md-435 {
    .MuiDialog-paper {
    height: 100%;
  }
    .MuiDialog-paper {
    width: 100%;
  }
  }

@media (min-width: 768px) {

.dialog.md-435 {
    .MuiDialog-paper {
        width: 800px;
        height: 435px
    }
  }
      }

.dialog.lg {
    .MuiDialog-paper {
    height: 100%;
  }
    .MuiDialog-paper {
    width: 100%;
  }
  }

@media (min-width: 768px) {

.dialog.lg {
    .MuiDialog-paper {
        width: 1000px;
        height: 550px
    }
  }
      }

.dialog.x-lg {
    .MuiDialog-paper {
    height: 100%;
  }
    .MuiDialog-paper {
    width: 100%;
  }
  }

@media (min-width: 768px) {

.dialog.x-lg {
    .MuiDialog-paper {
        width: 80%;
        height: 80%
    }
  }
      }

@media (min-width: 1024px) {

.dialog.x-lg {
    .MuiDialog-paper {
        width: 80%;
        height: 80%
    }
  }
      }

.dialog.dialog-no-spacing {
    .MuiDialogContent-root {
    padding: 0px;
  }
  }

.dialog {
  .dialog-title {
    font-family: var(--ff-barlow);
  }
  .dialog-title {
    font-size: 1rem;
  }
  .dialog-title {
    font-weight: var(--fw-eb);
  }
  .dialog-title {
    color: var(--nc-3);
  }
  .MuiDialogTitle-root {
    display: flex;
  }
  .MuiDialogTitle-root {
    justify-content: space-between;
  }
  .MuiDialogTitle-root {
    border-bottom-width: 1px;
  }
  .MuiDialogTitle-root {
    border-color: var(--nc-5);
  }
  .MuiDialogTitle-root {
    padding: 12px;
  }
  .MuiDialogContent-root {
    padding: 12px;
  }
}

@media (min-width: 768px) {

.dialog {
    .MuiDialogContent-root {
      padding: 20px;
    }
}
}

.dialog {
  .MuiDialogActions-root {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.16);
  }
  .MuiDialogActions-root {
    border-top-width: 1px;
  }
  .MuiDialogActions-root {
    border-color: var(--nc-5);
  }
  .MuiDialogActions-root {
    padding: 12px;
  }
}

@media (min-width: 768px) {

.dialog {
    .MuiDialogActions-root {
      padding-left: 20px;
      padding-right: 20px;
    }
}
}

@media (min-width: 768px) {

.dialog {
    .MuiDialogActions-root {
      padding-top: 12px;
      padding-bottom: 12px;
    }
}
}

.dialog {
  .MuiDialogContent-root {
    .seprater-line {
      margin-top: 14px;
      margin-bottom: 14px;
    }
    .seprater-line {
      display: block;
    }
    .seprater-line {
      height: 1px;
    }
    .seprater-line {
      width: 100%;
    }
    .seprater-line {
      background-color: var(--nc-6);
    }
    .label {
      font-family: var(--ff-roboto);
    }
    .label {
      font-size: 0.75rem;
    }
    .label {
      font-weight: var(--fw-n);
    }
    .label {
      color: var(--nc-3);
    }
  }
  .footer {
    justify-content: flex-start;
    .label {
      font-family: var(--ff-roboto);
    }
    .label {
      font-size: 0.75rem;
    }
    .label {
      font-weight: var(--fw-n);
    }
    .label {
      color: var(--nc-3);
    }
    img {
      width: 32px;
    }
    p {
      padding-left: 10px;
    }
    p {
      padding-top: 4px;
    }
    p {
      font-family: var(--ff-roboto);
    }
    p {
      font-size: 0.87rem;
    }
    p {
      font-weight: var(--fw-eb);
    }
    p {
      color: var(--nc-1);
    }
    .vertical-sepreter-line {
      margin-right: 18px;
    }
    .vertical-sepreter-line {
      border-right-width: 1px;
    }
    .vertical-sepreter-line {
      border-color: var(--nc-5);
    }
    .vertical-sepreter-line {
      padding-right: 18px;
    }
  }
  .layout-70-30 {
    display: grid;
    grid-template-columns: 1fr 30%;
    column-gap: 20px;
  }
  .applied-rules {
    display: flex;
  }
  .applied-rules {
    padding-top: 4px;
  }
  .applied-rules {
    flex-wrap: wrap;
    .col {
      margin-right: 14px;
    }
    .col {
      margin-bottom: 14px;
    }
    .col {
      border-right-width: 1px;
    }
    .col {
      border-right-color: var(--nc-5);
    }
    .col {
      padding-right: 12px;
    }
      .col:last-child {
      border-right-width: 0px;
    }
    .col {
      p {
        font-family: var(--ff-barlow);
      }
      p {
        font-size: 0.75rem;
      }
      p {
        font-weight: var(--fw-b);
      }
      p {
        color: var(--nc-4);
      }
      span {
        font-family: var(--ff-roboto);
      }
      span {
        font-size: 0.75rem;
      }
      span {
        font-weight: var(--fw-eb);
      }
      span {
        color: var(--nc-1);
      }
    }
  }
  .delete-model {
    img {
      margin: auto;
      margin-bottom: 0px;
      width: 100px;
    }
  }
}

.my-tooltip.MuiTooltip-tooltip {
  background-color: var(--pc-1);
  font-size: 0.75rem;
}

/* ! tailwindcss v3.3.2 | MIT License | https://tailwindcss.com*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */ /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted currentColor;
          text-decoration: underline dotted currentColor;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.float-left {
  float: left;
}

.mr-12 {
  margin-right: 12px;
}

.mr-6 {
  margin-right: 6px;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-nc-6 {
  border-color: var(--nc-6);
}

.bg-nc-7 {
  background-color: var(--nc-7);
}

.p-0 {
  padding: 0px;
}

.p-16 {
  padding: 16px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.font-barlow {
  font-family: var(--ff-barlow);
}

.font-roboto {
  font-family: var(--ff-roboto);
}

.text-10 {
  font-size: 0.62rem;
}

.text-12 {
  font-size: 0.75rem;
}

.text-14 {
  font-size: 0.87rem;
}

.text-18 {
  font-size: 1.12rem;
}

.font-extra-bold {
  font-weight: var(--fw-eb);
}

.font-normal {
  font-weight: var(--fw-n);
}

.text-nc-3 {
  color: var(--nc-3);
}

.text-nc-4 {
  color: var(--nc-4);
}

.text-pc-1 {
  color: var(--pc-1);
}

.underline {
  text-decoration-line: underline;
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

:root {
  /* Primary Color */
  --pc-1: #{$pc-1};

  /* Secondary Color */
  --sc-1: #{$sc-1};

  /* Tertiary  color */
  --tc-1: #{$tc-1};
  --tc-2: #{$tc-2};
  --tc-3: #{$tc-3};
  --tc-4: #{$tc-4};

  /* Neutral  color */
  --nc-1: #{$nc-1};
  --nc-2: #{$nc-2};
  --nc-3: #{$nc-3};
  --nc-4: #{$nc-4};
  --nc-5: #{$nc-5};
  --nc-6: #{$nc-6};
  --nc-7: #{$nc-7};

  /* Tint Color */
  --tint-pc-1-1: #{$tint-pc-1-1};
  --tint-pc-1-2: #{$tint-pc-1-2};
  --tint-pc-1-3: #{$tint-pc-1-3};
  --tint-pc-1-1-rgba: #{$tint-pc-1-1-rgba};
  --tint-pc-1-2-rgba: #{$tint-pc-1-2-rgba};
  --tint-pc-1-3-rgba: #{$tint-pc-1-3-rgba};

  --tint-sc-1-1: #{$tint-sc-1-1};
  --tint-sc-1-2: #{$tint-sc-1-2};
  --tint-sc-1-3: #{$tint-sc-1-3};
  --tint-sc-1-1-rgba: #{$tint-sc-1-1-rgba};
  --tint-sc-1-2-rgba: #{$tint-sc-1-2-rgba};
  --tint-sc-1-3-rgba: #{$tint-sc-1-3-rgba};

  --tint-tc-1-1: #{$tint-tc-1-1};
  --tint-tc-1-2: #{$tint-tc-1-2};
  --tint-tc-1-3: #{$tint-tc-1-3};
  --tint-tc-1-1-rgba: #{$tint-tc-1-1-rgba};
  --tint-tc-1-2-rgba: #{$tint-tc-1-2-rgba};
  --tint-tc-1-3-rgba: #{$tint-tc-1-3-rgba};

  --tint-tc-2-1: #{$tint-tc-2-1};
  --tint-tc-2-2: #{$tint-tc-2-2};
  --tint-tc-2-3: #{$tint-tc-2-3};
  --tint-tc-2-1-rgba: #{$tint-tc-2-1-rgba};
  --tint-tc-2-2-rgba: #{$tint-tc-2-2-rgba};
  --tint-tc-2-3-rgba: #{$tint-tc-2-3-rgba};

  --tint-tc-3-1: #{$tint-tc-3-1};
  --tint-tc-3-2: #{$tint-tc-3-2};
  --tint-tc-3-3: #{$tint-tc-3-3};
  --tint-tc-3-1-rgba: #{$tint-tc-3-1-rgba};
  --tint-tc-3-2-rgba: #{$tint-tc-3-2-rgba};
  --tint-tc-3-3-rgba: #{$tint-tc-3-3-rgba};

  --tint-tc-4-1: #{$tint-tc-4-1};
  --tint-tc-4-2: #{$tint-tc-4-2};
  --tint-tc-4-3: #{$tint-tc-4-3};
  --tint-tc-4-1-rgba: #{$tint-tc-4-1-rgba};
  --tint-tc-4-2-rgba: #{$tint-tc-4-2-rgba};
  --tint-tc-4-3-rgba: #{$tint-tc-4-3-rgba};

  --ex-1: #{$ex-1};

  --ff-barlow: #{$ff-barlow};
  --ff-roboto: #{$ff-roboto};
  --ff-icon: #{$ff-icon};
  --fw-n: #{$fw-n};
  --fw-b: #{$fw-b};
  --fw-eb: #{$fw-eb};
}

html {
  font-size: 16px;
  height: 100%;
  background-color: var(--nc-6);
}

//overwritting chrome user user agent focus styles

/*
:focus {
  outline: 0 !important;
  @apply outline-none;
}

.focus-visible-only:focus-visible {
  outline: none;
  @apply outline-none;
}
*/

div:focus,
div:focus-visible {
  outline: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

body {
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: var(--nc-7);
  font-family: var(--ff-roboto);
  font-size: 0.87rem;
  font-weight: var(--fw-n);
  color: var(--nc-1);
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.16);
  max-width: 1920px;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

@media (min-width: 640px) {
  #root {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.container-inner {
  flex: 1 1 0%;
  overflow-y: auto;
}

.page-content-left {
  padding-left: 12px;
}

@media (min-width: 1024px) {
  .page-content-left {
    padding-left: 32px;
  }
}

.page-content-right {
  padding-right: 12px;
}

@media (min-width: 1024px) {
  .page-content-right {
    padding-right: 32px;
  }
}

.page-content-top {
  padding-top: 12px;
}

.page-content-bottom {
  padding-bottom: 12px;
}

.boilerplate-page {
  @extend .page-content-left;
  @extend .page-content-right;
  @extend .page-content-top;
}

.client-list.inner-page {
  height: calc(100vh - 60px);
  .inner-top-section {
    height: 100%;
  }
}

.pdfLinks {
  margin-top: 6px;
  border-top-width: 1px;
  border-color: var(--nc-6);
  padding-top: 6px;
}

.hover\:bg-nc-7:hover {
  background-color: var(--nc-7);
}

.hover\:text-nc-1:hover {
  color: var(--nc-1);
}
